/*gutter is space in between columns*/
/*This is a universal selector*/
* {
  margin: 0;
  /*by default a browser adds margins and padding so we are resetting to zero*/
  padding: 0;
  box-sizing: border-box;
  /*this keeps paddings and margins within the box size not beyond*/ }

html {
  /*This is defining what 1 rem is*/
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

/*This is Animating the heading */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
    /*a negative value goes to the left */ }
  100% {
    opacity: 1;
    transform: translate(0);
    /*end result is zero because it looks as styled. */ } }

/*This is Animating the button */
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
    /*positive value is going down */ }
  100% {
    opacity: 1;
    transform: translate(0);
    /*end result is zero because it looks as styled. */ } }

/*This is Animating the sub heading */
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
    /*positive value goes to the right */ }
  100% {
    opacity: 1;
    transform: translate(0);
    /*end result is zero because it looks as styled. */ } }

/*Utility classes have very simple goals*/
/*a great tool for reusable code*/
.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

/*BODY FONT*/
body {
  /*always put font family in body so that it is inherited throughout*/
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  /*This is creating white border around entire webpage*/ }

/*TEXT HEADING*/
.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 60px; }
  .heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    animation-name: moveInLeft;
    animation-duration: 3s; }
  .heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;
    animation-name: moveInRight;
    animation-duration: 3s;
    /*animation-delay: 3s; length of time before it starts*/
    /*animation-count: 3; this is basically like a repeat*/
    /*animation-timing-function: ease-in; various options for this*/
    /*backface-visibility: hidden; this helps with shakiness animation issues*/ }

/*This is the secondary heading (exciting tours for adventurous people)*/
.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  /*below i am creating a gradient color font*/
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s;
  /*below i am creating a skew animation on the secondary heading*/ }
  .heading-secondary:hover {
    transform: skewY(2deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

/*This is the tertiary heading (fall in love with nature)*/
.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

/*BUTTON*/
.btn {
  /*BUTTON AFTER is the larger animation that happens behind button  */ }
  .btn:link, .btn:visited {
    /*link is a pseudo class - to style elements in a special state. */
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    /*this rounds the corners of the button */
    transition: all .2s;
    position: relative;
    font-size: 1.6rem; }
  .btn:hover {
    transform: translateY(-3px);
    /*moves the button up */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
  .btn-white {
    background-color: #fff;
    color: #777; }
  .btn::after {
    /*this is creating a duplicate button thats hidden behind the button */
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /*defines the position to be behind the origonal button */
    transition: all .4s; }
  .btn-white::after {
    background-color: #fff; }
  .btn:hover::after {
    transform: scaleX(1.4), scaleY(1.6);
    opacity: 0; }
  .btn-animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards; }

/*this is a button with no outline*/
.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  /*this gets rid of the default link underline*/
  border-bottom: 1px solid #55c57a;
  /*this adds in our own custom underline*/
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0px); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: -2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #55c57a;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    /*below i am creating a gradient color icon*/
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    tranform: translateY(-1.5rem) scale(1.03); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 6rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^='col-'] {
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 6rem*3) / 4); }
  .row .col-2-of-3 {
    width: calc(((100% - 6rem*2) / 3)*2 + 6rem); }
  .row .col-2-of-4 {
    width: calc(((100% - 6rem*3) / 4)*2 + 6rem); }
  .row .col-3-of-4 {
    width: calc(((100% - 6rem*3) / 4)*3 + 6rem*2); }

.header {
  height: 95vh;
  /*This is the percent of viewport height*/
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  /*This is creating the funky heading shape, think of 4 corners
  left side being 0 right side being 100%,
  for each corner specificy x and y coordinates */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }

/*LOGO*/
.logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem; }

.logo {
  height: 3.5rem; }

.text-box {
  /*This is centering the heading text within header */
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*This is off setting the center to be the center of the content */
  text-align: center; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
  /*this number is calculated by subtracting the remeaining polygon shape from the heading*/ }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  .section-features > * {
    transform: skewY(7deg); }
