
.header {
  height: 95vh; /*This is the percent of viewport height*/
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  /*This is creating the funky heading shape, think of 4 corners
  left side being 0 right side being 100%,
  for each corner specificy x and y coordinates */
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      height: 95vh;
  }

  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), //Apple Retina screen resolution
      only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
      only screen and (min-width: 125em) {
      background-image: linear-gradient(
      to right bottom,
      rgba($color-primary, 0.80),
      rgba($color-primary-dark, 0.80)),
      url(../img/hero.jpg);
  }

  @include respond(phone) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 85% 75vh, 0 100%); //fixing angle for smallest screen
  }
}

/*LOGO*/
.logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.logo {
  height: 3.5rem;
}

.text-box { /*This is centering the heading text within header */
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); /*This is off setting the center to be the center of the content */
  text-align: center;
}
