
.header {
  height: 95vh; /*This is the percent of viewport height*/
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  /*This is creating the funky heading shape, think of 4 corners
  left side being 0 right side being 100%,
  for each corner specificy x and y coordinates */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

/*LOGO*/
.logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.logo {
  height: 3.5rem;
}

.text-box { /*This is centering the heading text within header */
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); /*This is off setting the center to be the center of the content */
  text-align: center;
}
