.navigation {

    &__checkbox {
        display: none; //hide checkbox for nav bar hack
    }

    &__button { //this is the circle white background of nav
        background-color: $color-white; //creating white nav button
        height: 7rem; //making larger than green circle behind
        width: 7rem; //making larger than green circle behind
        position: fixed; //wont change position as page scrolls
        top: 6rem; //choose top positioning
        right: 6rem;  //choose right positioning
        border-radius: 50%; //create round shape
        z-index: 2000; //position always on top of green background nav circle
        box-shadow: 0 1rem 3rem rgba($color-black, 0.3); //add shadow to circle
        text-align: center; //centering hamburger icon
        cursor: pointer;
    }

    &__background { //this is the circle green background of nav
        height: 6rem;
        width: 6rem;
        border-radius: 50%; //create round shape
        position: fixed; //wont change position as page scrolls
        top: 6.5rem; //choose top positioning
        right: 6.5rem; //choose right positioning
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        z-index: 1000; //position always on top of other content
        transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1); //go to cubic-bezier website for all sorts of transitions to use

        //transform: scale(80);
    }

    &__nav { //this is the full screen opened nav
        height: 100vh; //spans entire viewport height
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500; //higher position than background but less than button

        opacity: 0; //hide the navigation and background
        width: 0; //hide the navigation and background
        transition: all .08s cubic-bezier(0.68, -0.55, 0.265, 1.55); //were animating the element so it appears like its radiating out of nav button
    }

    &__list { //this is all centering the list/links inside the nav
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none; //get rid of default dots
        text-align: center;
        width: 100%;
    }

    &__item {
        margin: 1rem; //space between elements (the links/list)
    }

    &__link { //this is styling the font on the nav links/list
                &:link,
                &:visited {
                display: inline-block;
                font-size: 3rem;
                font-weight: 300;
                padding: 1rem 2rem; //spacing around text
                color: $color-white;
                text-decoration: none;
                text-transform: uppercase;
                background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%); //this is creating the white wrap around animation
                background-size: 220%; //this is helping to move the white animation
                transition: all .4s; //this is length of time of animation

                span {
                  margin-right: 1.5rem;
                  display: inline-block;
                }
            }

            &:hover, //this is styling the link/list change on hover when background goes to white
            &:active {
              background-position: 100%;
              color: $color-primary; //on hover text changes to green
              transform: translateX(1rem);
            }
    } //closes __link

    //FUNCTIONALITY
    &__checkbox:checked ~  &__background { //adjacent sibling selector
          transform: scale(80);
        }

    &__checkbox:checked ~  &__nav { //adjacent sibling selector
          opacity: 1; //show the navigation and background
          width: 100%; //show the navigation and background
        }

    //HAMBURGER ICON
    &__icon {
        position: relative;
        margin-top: 3.5rem; //centering hamburger inside white button circle

        &,
        &::before,
        &::after {
          width: 3rem; //hamburger line width
          height: 2px; //hamburger line height
          background-color: $color-gray-darkest; //hamburger line color
          display: inline-block;
        }

        &::before,
        &::after {
          content: "";
          position: absolute;
          left: 0;
          transition: all .2s;
        }

        &::before { top: -.8rem;} //position of hamburger icon
        &::after { top: .8rem;} //position of hamburger icon
    } //closes icon class

        &__button:hover &__icon::before { //on hover there is an animation to hamburger icon to make it look like its expanding
          top: -1rem; //we do this by shifting the positioning
        }

        &__button:hover &__icon::after {
          top: 1rem;
        }

        &__checkbox:checked + &__button &__icon { //when checkbox is selected we select its brother and its child
          background-color: transparent; //make middle line element invisible
        }

        &__checkbox:checked + &__button &__icon::before { //when checkbox is selected we select its brother and its child
          top: 0;
          transform: rotate(135deg); //rotate line element
        }

        &__checkbox:checked + &__button &__icon::after { //when checkbox is selected we select its brother and its child
          top: 0;
          transform: rotate(-135deg); //rotate line element
        }

} //closes nav class
