/*BUTTON*/
.btn {

  &:link,
  &:visited { /*link is a pseudo class - to style elements in a special state. */
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px; /*this rounds the corners of the button */
    transition: all .2s;
    position: relative;
    font-size: $default-font-size;
  }

  &:hover {
    transform: translateY(-3px); /*moves the button up */
    box-shadow: 0 10px 20px rgba($color-black,.2);
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba($color-black,.2);
  }

  &-white {
    background-color: $color-white;
    color: $color-gray-dark;
  }

  /*BUTTON AFTER is the larger animation that happens behind button  */
  &::after { /*this is creating a duplicate button thats hidden behind the button */
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /*defines the position to be behind the origonal button */
    transition: all .4s;
  }

  &-white::after {
    background-color: $color-white;
  }

  &:hover::after {
    transform: scaleX(1.4), scaleY(1.6);
    opacity: 0;
  }

  &-animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
  }
}

/*this is a button with no outline*/
.btn-text {
    &:link,
    &:visited {
      font-size: $default-font-size;
      color: $color-primary;
      display: inline-block;
      text-decoration: none; /*this gets rid of the default link underline*/
      border-bottom: 1px solid $color-primary; /*this adds in our own custom underline*/
      padding: 3px;
    }


    &:hover {

    }

    &:active {

    }

  }
