//this is the popup that happens when you click "book now"

.popup { //this is the popup background styling
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    z-index: 3000;
    opacity: 0; //hiding popup till clicked
    visibility: hidden; //hiding popup till clicked
    transition: all .3s;

        &__content { //this is the popup content styling
          @include absolutecenter;
          width: 75%;
          background-color: $color-white;
          box-shadow: 0 2rem 4rem rgba($color-black, .2);
          border-radius: 3px;
          display: table;
          overflow: hidden;
          opacity: 0;
          transform: translate(-50% -50%) scale(.25); //scaled down animation this makes the pop up size up on screen
          transition: all .5s .2s; //.2s is the delay
        }

        &__left {
            width: 33.333333%;
            display: table-cell;
        }

        &__right {
            right: 66.666667%;
            display: table-cell;
            vertical-align: middle;
            padding: 3rem; //padding top of white __content
        }

        &__img {
            display: block;
            width: 100%;
        }

        &__text {
            font-size: 1.4rem;
            margin-bottom: 4rem; //create padding between text and green button

            //this is dividing all the text into columns
            -moz-column-count: 2;
            -moz-column-gap: 4rem;
            -moz-column-rule: 1px solid $color-gray-dark;
            column-count: 2;
            column-gap: 4rem;
            column-rule: 1px solid $color-gray-dark;

            //automatically figures out where to place hyphens in text
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            -webkit-hyphens: auto;
            hyphens: auto;
        }

          //popup open section-features

          &:target { //make popup visible when target clicked
            opacity: 1;
            visibility: visible;
          }

           &:target &__content { //style popup content when target clicked
            opacity: 1;
           transform: translate(-50%, -50%) scale(1); //scaled up animation
          }

          &__close { //styling x to close popup
            &:link,
            &:visited {
              color: $color-gray-dark;
              position: absolute;
              top: 2.5rem;
              right: 2.5rem;
              font-size: 3rem;
              text-decoration: none;
              display: inline-block;
              transition: all .2s;
              line-height: 1;
            }
            &:hover { //x to close popup turns green on hover
              color: $color-primary;
            }
        }//close __close

} //close popup
