// this is the layout for the reviews section
.story {
  width:75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, .1);
  background-color: $color-white;
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg); //this is making the angled shape of review container

  @include respond(tab-portrait) {
       width: 100%;
       padding: 4rem;
       padding-left: 7rem;
   }

   @include respond(phone) {
       transform: skewX(0);
   }


// this is making the round thumbnail on the left
    &__shape {
      width: 15rem;
      height: 15rem;
      float: left;
      -webkit-shape-outside: circle(50% at 50% 50%); //this is shaping the text to go around circle
      shape-outside: circle(50% at 50% 50%);
      -webkit-clip-path: circle(50% at 50% 50%); //this is shaping the image to be a centered circle
      clip-path: circle(50% at 50% 50%);
      transform: translateX(-3rem) skewX(-12deg);
      position: relative;
      overflow: hidden; // this is in case clip path is not supported (Firefox) and images spill out of __shape


      @include respond(phone) {
             transform: translateX(-3rem) skewX(0);
         }
    }

    &__img {
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
        transition: all .5s;
        backface-visibility: hidden; // fix shape issue from transform
    }

    &__text {
      transform: skewX(-12deg);
      @include respond(phone) {
    transform: skewX(0);
    }

    }
}
