
/*BODY FONT*/
body { /*always put font family in body so that it is inherited throughout*/
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: $color-gray-dark;
  padding: 3rem; /*This is creating white border around entire webpage*/
}

/*TEXT HEADING*/
.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  margin-bottom: 60px;


  &-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;

    animation-name: moveInLeft;
    animation-duration: 3s;
  }

  &-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;

    animation-name: moveInRight;
    animation-duration: 3s;
     /*animation-delay: 3s; length of time before it starts*/
    /*animation-count: 3; this is basically like a repeat*/
    /*animation-timing-function: ease-in; various options for this*/
    /*backface-visibility: hidden; this helps with shakiness animation issues*/
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  /*below i am creating a gradient color font*/
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s;

  /*below i am creating a skew animation on the secondary heading*/
  &:hover {
    transform: skewY(2deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
  }

}
