
/*BODY FONT*/
body { /*always put font family in body so that it is inherited throughout*/
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: $color-gray-dark;

}

/*TEXT HEADING*/
.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  margin-bottom: 60px;

  &-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;

    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-timing-function: ease-out;

    @include respond(phone) { //creating smaller design choices for phone screen
      letter-spacing: 1rem;
      font-family: 5rem;
    }
  }

  &-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;

    animation-name: moveInRight;
    animation-duration: 3s;
     /*animation-delay: 3s; length of time before it starts*/
    /*animation-count: 3; this is basically like a repeat*/
    /*animation-timing-function: ease-in; various options for this*/
    /*backface-visibility: hidden; this helps with shakiness animation issues*/

    @include respond(phone) { //creating smaller design choices for phone screen
      letter-spacing: .5rem;
    }
  }
}

  /*This is the secondary heading (exciting tours for adventurous people)*/
.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  /*below i am creating a gradient color font*/
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s;

  @include respond(tab-portrait) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2.5rem;
  }

  /*below i am creating a skew animation on the secondary heading*/
  &:hover {
    transform: skewY(2deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
  }

}

/*This is the tertiary heading (fall in love with nature)*/
.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;

}

.paragraph {
  font-size: $default-font-size;
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
}
